* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@font-face {
  font-family: "byekan";
  src: url("../fonts/byekan.ttf") format("truetype"),
    url("../fonts/byekan.woff") format("woff");
}
@font-face {
  font-family: "lalezar";
  src: url("../fonts/lalezar.ttf") format("truetype"),
    url("../fonts/lalezar.woff") format("woff");
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: byekan;
}
.header {
  height: 750px;
  background-image: url(../images/mitra02.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  text-emphasis-position: center;
  color: white;
  padding-top: 35px;
  text-align: center;
}
.header .nav-list {
  list-style-type: none;
}
.nav-item {
  display: inline-block;
  padding: 15px;
}
.nav-item:hover {
  color: orange;
}
.title {
  font-size: 60px;
  font-family: lalezar;
  margin-top: 100px;
}
.orange {
  color: orange;
}
.disc {
  width: 450px;
  height: 55px;
  line-height: 55px;
  border-radius: 20px;
  border: 1px solid white;
  background-color: rgba(0 0 0 0.5);
  margin: auto;
  margin-top: 30px;
}
.members {
  display: inline-block;
  text-align: center;
  padding: 50px 30px;
  margin: 100px;
}
.member-list {
  list-style-type: none;
  margin-top: 25px;
}
.member-item {
  width: 300px;
  display: inline-block;
  margin: 10px;
  box-shadow: 0 0 15px #bbbbbb;
  border-radius: 20px;
  overflow: hidden;
}
.member-pic {
  width: 100%;
}
.member-bio {
  padding: 25px;
  text-align: justify;
}
.member-name {
  font-size: 20px;
  margin-top: 5px;
}
.about {
  height: 700px;
  background-image: url(../images/bg.jpg);
  background-size: cover;
  padding: 70px;
  background-color: #373838;
  background-blend-mode: multiply;
}
.circle {
  width: 480px;
  height: 480px;
  background-color: rgba(135, 135, 135, 0.3);
  color: white;
  margin: auto;
  border-radius: 50%;
  padding: 80px 120px;
  text-align: center;
}
.circle p {
  margin-top: 40px;
  text-align: justify;
}
.circle h2 {
  font-size: 35px;
}
a {
  text-decoration: none;
  color: white;
}
a:hover {
  color: orange;
}
