* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@font-face {
  font-family: "byekan";
  src: url("../fonts/byekan.ttf") format("truetype"),
    url("../fonts/byekan.woff") format("woff");
}
@font-face {
  font-family: "lalezar";
  src: url("../fonts/lalezar.ttf") format("truetype"),
    url("../fonts/lalezar.woff") format("woff");
}
.header {
  width: 500px;
  margin: auto;
  margin-top: 50px;
  text-align: center;
  border: 2px solid black;
  border-radius: 10px;
}
.header:hover {
  color: yellow;
  background-color: black;
}
a {
  text-decoration: none;
  display: inline-block;
}
a:hover {
  color: yellow;
}
.matn {
  margin: 30px;
  padding: 10px;
}
p {
  font-size: 20px;
}
